.courseContent{
    background-color: #003121;
    border-radius: 25px 25px 0 0;
    padding: 25px;
    display: block;
    justify-content: center;
    margin: auto;
    width: 80%;
}
.courseContent article{
    display: flex;
    padding: 25px;
    color: white;
    font-size: 1.2em;
}
.courseContent article div{
    margin: 15px;
}
.courseContent a{
    color: white;
}
.courseContent img{
    width: 100%;
    border-radius: 5%;
    border: 5px solid white;
}
.courseContent .courseList{
    width: 95%;
    border: 2px solid white;
    border-radius: 25px;
    margin: auto;
    height:fit-content;
    max-height:500px;
    overflow:scroll;
    overflow-x:hidden;
}
.courseContent .videoGroup{
    display: flex;
    width: 100%;
}
.courseContent .videoGroup .videoCheckbox{
    margin: auto;
    transform: scale(1.5);
}
.courseContent .courseVideo{
    background-color: #02542D;
    border-radius: .2em;
    padding: 2px;
    margin: 5px 0;
    width: 95%;
}
.courseContent .courseVideo:hover{
    background-color: #043d22;
    transition: .2s;
}
.courseContent .courseVideo p{
    margin: 1em;
    color: white;
}