.formProfessor{
    background-color: #003121;
    border-radius: 25px 25px 0 0;
    padding: 25px;
    display: block;
    justify-content: center;
    width: 30%;
    margin: auto; 
}
.formProfessor{
    justify-content: center;
    display:block;
}
.formProfessor .lblEmail{
    color: white;
}
.formProfessor a{
    color: white;
    width: 80%;
    margin: 5% auto;
    font-size: larger;
    text-align: center;
}
.formProfessor h2{
    width: 100%;
    text-align: center;
    font-size: 3em;
    color:white;
}
.formProfessor h3{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color:white;
}
.formProfessor *{
    display: block;
    font-size: 1.05em;
}
.formProfessor div{
    margin-bottom: 15px;
    width: fit-content;
    margin: auto;
    padding: 5px;
}
.formProfessor input{
    padding: 5px;
    margin-bottom: 20px;
}
.formProfessor label{
    color: white;
}
.formProfessor button{
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    width: 45%;
    margin: 5% auto;
    font-size: larger;
    font-size: 0.90em;
}
.formProfessor button:hover{
    background-color: #02542D;
    border: 2px solid white;
    color: white;
    transition: .4s;
}
.formProfessor .btOptions{
    display: flex;
    width: 70%;
}
.formProfessor .btDelete{
    border: 2px solid red;
    background-color: #003121;
    color: red;
}
.formProfessor .btDelete:hover{
    border: 2px solid red;
    background-color: #02542D;
    color: red;
}